* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    /* min-height: 100vh; */
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
    gap: 1em;
}
.container > div {
    background-color: white;
}
.container > div:first-child {
    grid-column: 1/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.container > div:first-child .nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.container > div:first-child .nav ul a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
}

.container > div:first-child .logo img {
    width: 40px;
}
.container > div:first-child .menu {
    display: none;
}
.container > div:first-child .line {
    width: 30px;
    height: 1px;
    background-color: black;
    margin: 5px;
}

.container > div:nth-child(2) {
    grid-column: 1/5;
    height: 50vh;
    position: relative;
}
.container > div:nth-child(2) img {
    width: 100%;
    height: 100%;
}
.container > div:nth-child(2) .internal-nav {
    position: absolute;
    right: 30px;
    bottom: 50px;
    width: 300px;
    background-color: rgba(204, 135, 112, 0.358);
    border-radius: 20px;
}
.container > div:nth-child(2) .internal-nav ul {
    list-style: none;
    padding: 30px;
}
.container > div:nth-child(2) .internal-nav ul li a {
    display: block;
    color: white;
    padding: 5px 0;
    text-decoration: none;
    font-weight: bolder;
    text-transform: capitalize;
}

/* STYLE RULES FOR SKILLS */
.container > div:nth-child(3) {
    /* padding: 20px; */
    text-align: left;
    grid-column: 1/5;
}
.container > div:nth-child(3) h1 {
    border-bottom: 2px solid red;
}
.container > div:nth-child(4),
.container > div:nth-child(5),
.container > div:nth-child(6),
.container > div:nth-child(7) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.container > div:nth-child(4):hover,
.container > div:nth-child(5):hover,
.container > div:nth-child(6):hover,
.container > div:nth-child(7):hover {
    background-color: red;
    color: white;
}

.container > div:nth-child(8) {
    padding: 20px;
    background-color: black;
    color: white;

    grid-column: 1/5;
    position: relative;
}

.container > div:nth-child(8) img {
    p* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container {
        /* min-height: 100vh; */
        background-color: black;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 1em;
        gap: 1em;
    }
    .container > div {
        background-color: white;
    }
    .container > div:first-child {
        grid-column: 1/5;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }
    .container > div:first-child .nav ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }
    .container > div:first-child .nav ul a {
        text-transform: capitalize;
        text-decoration: none;
        padding: 10px;
        background-color: black;
        color: white;
    }
    
    .container > div:first-child .logo img {
        width: 40px;
    }
    .container > div:first-child .menu {
        display: none;
    }
    .container > div:first-child .line {
        width: 30px;
        height: 1px;
        background-color: black;
        margin: 5px;
    }
    
    .container > div:nth-child(2) {
        grid-column: 1/5;
        height: 50vh;
        position: relative;
    }
    .container > div:nth-child(2) img {
        width: 100%;
        height: 100%;
    }
    .container > div:nth-child(2) .internal-nav {
        position: absolute;
        right: 30px;
        bottom: 50px;
        width: 300px;
        background-color: rgba(204, 135, 112, 0.358);
        border-radius: 20px;
    }
    .container > div:nth-child(2) .internal-nav ul {
        list-style: none;
        padding: 30px;
    }
    .container > div:nth-child(2) .internal-nav ul li a {
        display: block;
        color: white;
        padding: 5px 0;
        text-decoration: none;
        font-weight: bolder;
        text-transform: capitalize;
    }
    
    /* STYLE RULES FOR SKILLS */
    .container > div:nth-child(3) {
        /* padding: 20px; */
        text-align: left;
        grid-column: 1/5;
    }
    .container > div:nth-child(3) h1 {
        border-bottom: 2px solid red;
    }
    .container > div:nth-child(4),
    .container > div:nth-child(5),
    .container > div:nth-child(6),
    .container > div:nth-child(7) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .container > div:nth-child(4):hover,
    .container > div:nth-child(5):hover,
    .container > div:nth-child(6):hover,
    .container > div:nth-child(7):hover {
        background-color: red;
        color: white;
    }
    
    .container > div:nth-child(8) {
        padding: 20px;
        background-color: black;
        color: white;
    
        grid-column: 1/5;
        position: relative;
    }
    
    .container > div:nth-child(8) img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
       height:100%;
    }
    
}
